*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Times New Roman", Times, serif;
}


h1{
	margin-top: 40px;
	font-size: 50px;
	margin-bottom: 60px;
	text-align: center;
	color: black;
}

.team{
	margin-top: 150px;
	display: flex;
	justify-content: center;
	width: auto;
	text-align: center;
}

.member{
	background: #F5F5DC;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #90EE90;
	position: relative;
}


h3{
	color: #90EE90;
	font-size: 26px;
	margin-top: 50px;
}


img{
	width: 150px;
	height: 150px;
	padding: 5px;
}

button{
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 20%;
	border: 0;
	border-radius: 5px;
	cursor:pointer;
	margin-left: 40%;
	background: #ff8080;
}

button:hover {
	transition:0.5s;

	background: #ff8080;
}

a{
	text-decoration: none;
	color:black;
	background: #ff8080;
}

p{
	font-size: 25px;
}

.background{
	background-image: url('http://www.pngmagic.com/product_images/solid-dark-blue-background.jpg');
	background-size: cover;
}