.background{
	background-image: url('https://i.pinimg.com/originals/7a/d0/e8/7ad0e868639fe362b775664d8ca1d726.jpg');
	background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
	color: beige;
	font-weight: bold;
} 

.box{
	max-width: 980px;
    background-color: rgba(0,0,255,0.3);
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkblue;
	margin: auto;
	padding: 0px;
}

p {
	font-size: 25px;
	color: beige;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
	color: beige;
	font-weight: bold;
} 

.btn{
font-size: 22px;
font-weight: bold;
margin: 10px 0;
padding: 12px 17px;
width: 100%;
border: 0;
border-radius: 7px;
float:right;
cursor:pointer;
background: #ff8080;
 
}